<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779825882600-2bndtlg6lvek93urchcjkq1n2ch40a4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779825882600-2bndtlg6lvek93urchcjkq1n2ch40a4d</string>
	<key>API_KEY</key>
	<string>AIzaSyBHcv0PfS0qHGdAv0gRowzSLULk3V_yuY8</string>
	<key>GCM_SENDER_ID</key>
	<string>779825882600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flingapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fling-app-56728</string>
	<key>STORAGE_BUCKET</key>
	<string>fling-app-56728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779825882600:ios:59ce2b8a1ae71580d9305d</string>
</dict>
</plist>